@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    background-image: url("./stop.jpg");
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 80vw;
    margin: auto;
    color: whitesmoke;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;
}
p {
    font-size: 2em;

}






/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/