@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body {
    display: flex;
    align-items: center;
    margin:auto;
    height: 90vh;
    width: 80vw;
    background-color: azure;
}

h1 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 0;
    color: #ee2222;
    text-shadow: 0px 0px 2px #333333;
}

span {
    color: #333333;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    color: #333333;
    margin-top: .5em;
}


/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/